<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulare und Tabelle</title>

    <script type="text/javascript" src="/javascript/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript" src="/javascript/handlebars-v2.0.0.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/eggplant/jquery-ui.css">


    <!-- Steuerung -->
    <script type="text/javascript">

        // Tabs
        $(function() {
            $( "#tabs" ).tabs();
        });

        $(document).ready(function()
        {
            // Formular anzeigen und befüllen
            $("#anzeigen").on("click",function(e){
                $.ajax({
                    url: '/handlebars/dataFormTeil2/',
                    type: 'post',
                    data: ({
                        bla: 'bla',
                        blub: 'blub'
                    }),
                    dataType: 'json',
                    success: function(result){
                        var source   = $("#subtemplat2").html();
                        var template = Handlebars.compile(source);
                        $('#teilbereich2').html(template(result));
                    }
                });
            });

            // Teilbereich leeren
            $("#verstecken").on("click",function(e){
                $("#teilbereich2").html(' ');
            });

            $("#tabelleButton").on("click",function(e)
            {
                $.ajax({
                    url: '/handlebars/dataGrid/',
                    type: 'post',
                    data: ({
                        bla: 'bla',
                        blub: 'blub'
                    }),
                    dataType: 'json',
                    success: function(result)
                    {
                        var source   = $("#subtabelle").html();
                        var template = Handlebars.compile(source);
                        $('#tabelle').html(template(result));
                    }
                });
            });
        });

    </script>
</head>
<body>
    <div id="tabs" style="width: 1200px;">
        <ul>
            <li><a href="#tabs-1">Tab 1</a></li>
            <li><a href="#tabs-2">Tab 2</a></li>
        </ul>

        <!-- Tab 1 -->
        <div id="tabs-1" style="min-height: 800px;">
            <!-- Teilbereich 1 -->
            <h3>Teilbereich 1 , Stammelement</h3>
            <div id="teilbereich1" style="width: 600px; height: 600px; border: red 1px solid; float: left;">
                {% include 'forms/formular1.hbs' %}
            </div>

            <!-- Teilbereich 2 -->
            <h3>Teilbereich 2</h3>
            <div id="teilbereich2" style="width: 500px; height: 300px; border: solid #008000 1px; float:left;">
               &nbsp;
            </div>

            <!-- Subtemplat 2 -->
            <script id="subtemplat2" type="text/x-handlebars-template">
                {% include 'forms/formular2.hbs' %}
            </script>

            <!-- Tabelle -->
            <h3>Tabelle</h3>
            <div id="tabelle" style="width: 500px; height: 300px; border: solid #008000 1px; float:left;">
               &nbsp;
            </div>

            <script id="subtabelle" type="text/x-handlebars-template">
                {% include 'grids/grid1.hbs' %}
            </script>
        </div>

        <!-- Tab 2 -->
        <div id="tabs-2" style="min-height: 800px;">
            Teil 2
        </div>



    </div>
</body>
</html>