{% verbatim %}
<table class="grid">
    <tr class="row">
        <th class="cell">Name</th>
        <th class="cell">Vorname</th>
    </tr>
    {{#each this}}
    <tr class="row">
        <td class="cell">
            {{name}}
        </td>
        <td class="cell">
            {{vorname}}
        </td>
    </tr>
    {{/each}}
</table>
{% endverbatim %}