<form>
    <label for="id">Id</label><input type="text" name="id" value="{{id}}" id="id" />
    <br class="clear" />
    <label for="sprachen_id">Sprachen Id</label><input type="text" name="sprachen_id" value="{{sprachen_id}}" id="sprachen_id" />
    <br class="clear" />
    <label for="Anrede">Anrede</label><input type="text" name="Anrede" value="{{Anrede}}" id="Anrede" />
    <br class="clear" />
</form>

<script type="text/javascript">

</script>
<input type="button" value="eintragen">